body {background-image: url(https://w.forfun.com/fetch/c2/c24c31dc8e46aaaa41bd003e1d8417d0.jpeg);background-repeat: no-repeat;background-size: cover;}
h1,h2{background-color: rgba(0, 0, 0, 0.459);color: aqua;}
a{ background-color: rgba(0, 0, 0, 0.644);}